/* css ini mah aku biikin sendiri, belajar dari yutub 10 menit - follow @efjayadi*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(20%);
    transition: all 1s;
    }
    .show {
    opacity: 1;
    filter: blur(0);
    transform: translatey(0);
    }
.up{
    
}
.delay2{
    transition-delay: 200ms;
}
.delay4{
    transition-delay: 400ms;
}
.delay6{
    transition-delay: 600ms;
}
.delay7{
    transition-delay: 700ms;
}
.delay8{
    transition-delay: 800ms;
}

@media (max-width: 576px) {
    .hidden {
        filter: blur(0);
  }
  
  @media (max-width: 768px) {
    .hidden {
        filter: blur(0);
  }
  }
}